*{
  font-family:Palatino, URW Palladio L, serif;
  font-stretch: semi-condensed;
}

body{
  background-color:black;
  color:white;
  margin:0;
  padding:0;
}
a{
  text-decoration:none;
}

header{
  display:grid;
}
.nav-bar{
  text-align: center;
  max-height: 80px;
  list-style-type:none;
}

.nav-bar li{
  color: white;
  font-size: 16px;
  padding: 5px;
}


  
