*{
  font-family:Palatino, URW Palladio L, serif;
  font-stretch: semi-condensed;
}

body{
  background-color:white;
  color:black;
  margin:0;
  padding:0;
}
a{
  text-decoration:none;
  color: black;
}

header{
  background:#E3DAC9;
  display:grid;
  margin:auto;
}
.nav-bar{
  float: right;
  min-height: 50px;
  list-style-type:none;
  margin:auto;
}

.nav-bar li{
  font-size: 16px;
  padding: 0 10px 0 10px;
}

