<html>
  <head>
     <title>{{ page.title }}</title>
    <link rel="stylesheet" href="./css/main.css">
  </head>
  <body>
    <header>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>
    <h1>Hi Welocme to Webscule</h1>
     <div>
    {{ content }}
  </div>
    <footer>
      <p> you have reached end of the file </p>
    </footer>
  </body>
</html>
